<div>
    <!-- <h5>Child state FORM 2</h5>
    <pre>{{Model}}</pre>
    
    Change the value in a child state FROM 2
    <input ng-model="Model.Name" /> -->

    <table>
        <tr>
            <th>postId</th>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>body</th>
        </tr>
        <tr ng-repeat="x in mydata">
            <td>{{x.postId}}</td>
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.body}}</td>
        </tr>
        
    </table>
</div>