<div>
    <!-- <h5>Child state FORM 1</h5>
    <pre>{{Model}}</pre>
    
    Change the value in a child state FROM 1
    <input ng-model="Model.Name" /> -->

    <table>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </tr>
        <tr ng-repeat="x in mydata">
            <td>{{x.userId}}</td>
            <td>{{x.id}}</td>
            <td>{{x.title}}</td>
            <td>{{x.body}}</td>
        </tr>
        
    </table>
</div>